{% load static %}

<!--		&lt;!&ndash; Popper Min JS &ndash;&gt;-->
<!--		<script src="{% static 'home/assets/js/popper.min.js' %}"></script>-->
<!--		&lt;!&ndash; Bootstrap Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/bootstrap.min.js' %}"></script>
<!--		&lt;!&ndash; Meanmenu Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/jquery.meanmenu.min.js' %}"></script>
<!--		&lt;!&ndash; WOW Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/wow.min.js' %}"></script>
<!--		&lt;!&ndash; Magnific Popup Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!--		&lt;!&ndash; Appear Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/jquery.appear.js' %}"></script>
		<!-- Odometer Min JS -->
<!--		<script src="{% static 'home/assets/js/odometer.min.js' %}"></script>-->
<!--		&lt;!&ndash; Slick Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/slick.js' %}"></script>
<!--		&lt;!&ndash; Headroom JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/headroom.js' %}"></script>
<!--		&lt;!&ndash; Owl Carousel Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/owl.carousel.min.js' %}"></script>
<!--		&lt;!&ndash; Feather Icon Min JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/feather.min.js' %}"></script>
<!--		&lt;!&ndash; Form Validator Min JS &ndash;&gt;-->
<!--        <script src="{% static 'home/assets/js/form-validator.min.js' %}"></script>-->
<!--        &lt;!&ndash; Contact Form Min JS &ndash;&gt;-->
<!--        <script src="{% static 'home/assets/js/contact-form-script.js' %}"></script>-->
<!--        &lt;!&ndash; StartP Map JS FILE &ndash;&gt;-->
<!--        <script src="{% static 'home/assets/js/startp-map.js' %}"></script>-->
<!--        &lt;!&ndash; Main JS &ndash;&gt;-->
		<script src="{% static 'home/assets/js/main.js' %}"></script>

        <!-- Script Custom  -->
<!--        <script src="{% static 'home/js-customs/scripts_tab.js' %}"></script>-->
