{% load static %}
<!-- Start Design & Development Services -->
<section class="services-area ptb-80">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12 services-content">
                <div class="align">
                    <h2 class="text-title" style="font-size:20px">Tất cả API hiện có của chúng tôi</h2>
                    <div class="bar"></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col text-center" style="">
                            <img src="{% static 'home/assets/img/ocr-icon.png' %}" alt="logo" height="80">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col text-center">
                            <p class="item-text-box">OCR</p>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col text-center">
                            <p class="item-text-box">Hóa đơn giá trị gia tăng</p>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--End Design develop services-->